.scrollbar::-webkit-scrollbar {
  width: 10px;
}

.scrollbar::-webkit-scrollbar-track {
  background-color: #f1f5f9;
  /* Bootstrap light gray (bg-light alternative) */
}

.scrollbar::-webkit-scrollbar-thumb {
  background-color: #e2e8f0;
  /* Bootstrap slightly darker gray */
  border-radius: 9999px;
  /* Equivalent to rounded-full */
}